.card {
    max-width: 500px;
    margin: 0 auto;

}

.btn-block {
    width: 100%;
    padding: 12px;
    background-color: #2C37C0;
}




.card-header h5, .card-header h6 {
    margin-top: 10px;  
}

img{
    display: block;
    margin: 0 auto 15px; 
    width: 100px; 
    height: 100px;
    object-fit: contain; 
    max-width: 100px; 
    max-height: 100px; 
}